// Custom styles.

.use-motion .pace .pace-progress {
    background: #926f5a;
}
.headband {
    background: #926f5a;
    height: 0;
}
.brand {
    background: #d08e65cc;
}

//首页头部样式
.header {
    width: auto;
    background: url("../image/global/background.jpg");
    background-color: #A48777;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 40px;
    .site-meta {
        margin: 20px auto;
        .site-title {
            font-size: 2rem;
            font-family: 'Comic Sans MS', sans-serif;
            padding-bottom: 5px;
            color: #fff;
        }
    }
    .site-nav .menu {
        background: #ffffff59;
        padding: 2px 0;
        .menu-item a {
            color: #555
        }
    }
}

@media (max-width: 767px) {
    .header {
        padding-bottom: 0px;
        .header-inner {
            padding-top: 20px;
        }
        .site-nav {
            border: none;
        }
    }
}


.sidebar {
    background: #a88773;
    box-shadow: inset 0 2px 6px #724d38;

    .sidebar-toc-active .sidebar-nav-toc, .sidebar-overview-active .sidebar-nav-overview {
        color: #fff;
        border-bottom-color: #fff;
    }
    .sidebar-nav li {
        color: inherit;
    }
    .sidebar-inner {
        color: #e6c5b2;
        // 侧栏头像
        .site-author-image {
            border: 2px solid #fff;
            border-radius: 100%;
            background-color: #fff;
            margin-top: 20px;
        }
        //侧边栏信息样式修改
        .site-author-name {
            margin: 30px 0 0;
            color: #fff;
            font-family: 'Comic Sans MS', sans-serif;
            font-size: 1.5rem;
        }
        .site-description {
            color: #e6c5b2;
        }
        a {
            color: #fff;
            border-bottom-color: #e6c5b2;
            border-bottom: none;
        }
        a:hover {
            color: #fff;
        }
        .site-state .site-state-item {
            display: inline-block;
            padding: 8px 28px;
            border-left: 1px solid #e6c5b2;
        }
        .links-of-author {
            margin-bottom: 70px;
            .links-of-author-item i {
                margin-right: 3px;
            }
        }
        //文章目录样式
        .post-toc {
           .nav .active > a {
               color #fff;
            }
            ol a {
                color: #e0c6b5;
            }
            ol a:hover {
                color: #fff;
            }
        }
    }
}

//侧栏按钮样式
.sidebar-toggle:hover .toggle-line{
    background: #ffffff;
}
.site-nav-toggle .btn-bar,.back-to-top, .sidebar-toggle {
    background: #a88772;
}
.back-to-top:hover {
    color: #fff;
}

//首页尾部样式
.footer-inner {
    font-family: 'Comic Sans MS', sans-serif;
    color: #a88772;
}
// 首页文章
.posts-expand {
    .pagination {
        .prev:hover, .next:hover, .page-number:hover {
            border-top-color: #ae866f
        }
        .page-number.current {
            background: #ae866f;
            border-color: #ae866f;
        }
        a {
           // color: #ae866f;
        }
    }
    .post-block:first-of-type {
        padding: 25px;
    }
    .post-block {
        //阴影样式
        margin-top: 60px;
        margin-bottom: 60px;
        padding: 25px;
        -webkit-box-shadow: 0 0 14px rgba(202, 203, 203, .5);
        -moz-box-shadow: 0 0 14px rgba(202, 203, 204, .5);
        //首页阅读全文样式
        .post-button {
            margin-top: 50px;
            text-align: center;
            .btn {
                color: #fff;
                background: #ae866f;
                border-radius: 16px;
                line-height: 2;
                margin: 0 4px 8px 4px;
                padding: 0 20px;
                border: 2px solid #926f5a;
            }
            a{
                border-bottom: 1px solid #926f5a;
            }
            a:hover {
                color: #fff1ea;
            }
        }
        .post-footer .post-eof {
            margin: 20px auto 10px;
        }
        .post-header {
            font-size: inherit;
            margin-bottom: 30px;
            .post-title {
                margin: 20px 0 15px;
            }
        }
        .post-body {
            font-size: 0.96rem;
            a {
                border-bottom: 1px dashed #999;
            }
            .headerlink {
                border:none;
            }
        }
    }
}
