// Custom styles.

.use-motion .pace .pace-progress {
    background: #6BA6E7cc;
}
.headband {
    background: #6BA6E7;
    height: 0;
}
.brand {
    background: #6BA6E7cc;
}

//首页头部样式
.header {
    // width: auto;
    background-image: url("../image/global/background_1.png");
    background-color: #6BA6E7cc;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    padding-bottom: 40px;
    .site-meta {
        margin: 20px auto;
        .site-title {
            font-size: 2rem;
            font-family: 'Comic Sans MS', sans-serif;
            line-height: 54px;
            color: #fff;
        }
    }
    .site-nav .menu {
        background: #ffffff59;
        padding: 2px 0;
        .menu-item a {
            color: #002752;
        }
    }
}

@media (max-width: 767px) {
    .header {
        padding-bottom: 0px;
    }
}


.sidebar::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../image/global/background_1.png");
    background-color: #6BA6E7;
    background-position: left;
    filter: contrast(0.4) opacity(0.2);
}
.sidebar {
    background: #6BA6E7;
    box-shadow: none;
    .sidebar-nav-toc, .sidebar-nav-overview {
        color: #fff;
    }
    .sidebar-inner {
        position: relative;
        // 侧栏头像
        .site-author-image {
            border-color:#fff;
            margin-top: 20px;
            cursor pointer;
        }
        //侧边栏信息样式修改
        .site-author-name {
            font-family: 'Comic Sans MS', sans-serif;
            font-size: 1.5rem;
        }
        .site-description {
            color: #cbe4ff;
        }
        a {
            color: #fff;
            border-bottom: none;
        }
    }
}
//侧栏按钮样式
.sidebar-toggle:hover .toggle-line{
    background: #ffffff;
}
.site-nav-toggle .btn-bar,.back-to-top, .sidebar-toggle {
    background: #6BA6E7;
}
.back-to-top:hover {
    color: #fff;
}

//首页尾部样式
.footer-inner {
    font-family: 'Comic Sans MS', sans-serif;
}

.pagination {
    .prev:hover, .next:hover, .page-number:hover {
        border-top-color: #6BA6E7
        background: #6ba7e7b3
    }
    .page-number.current {
        background: #6BA6E7;
        border-color: #6BA6E7;
    }
}
// 首页文章
.posts-expand {
    .post-block {
        //阴影样式
        margin-top: 60px;
        padding: 25px;
        border-radius: 5px;
        box-shadow: 0 0 14px #6ba5e733;
        //首页阅读全文样式
        .post-button {
            .btn {
                color: #fff;
                background: #6BA6E7;
                border-radius: 14px;
                border: 2px solid #6BA6E7;
                transition: all 0.2s;
            }
            .btn:hover {
                box-shadow: 0px 0px 8px 0px #6ba6e7;
            }
        }
        .post-footer .post-eof {
            margin: 20px auto 10px;
        }
        .post-header {
            font-size: inherit;
            margin-bottom: 20px;
        }
        .post-body {
            font-size: 0.96rem;
            a {
                border-bottom: 1px dashed #999;
            }
        }
    }
}
